# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [ ]:
# Do your analysis and answer the following (type your answers !! do not throw the code in there and submit the file)

# Which store has the highest total sales for the final month of data? store A
# Which store makes the most sales on average? store B
# Which store sells the most during the week of March 13th, 2016? store D
# In what week does store C make its worst sales? store A 
# Which store has the most sales in the latest 3-month period? store A
# What is the most consistent store in sales ? store B 
# Given the information you gathered, what do you think is the best store financially? store A

In [5]:
# import and load the data

import pandas as pd

df = pd.read_csv('store_data.csv')
df.head()

         week  storeA  storeB  storeC  storeD  storeE
0  2014-05-04    2643    8257    3893    6231    1294
1  2014-05-11    6444    5736    5634    7092    2907
2  2014-05-18    9646    2552    4253    5447    4736
3  2014-05-25    5960   10740    8264    6063     949
4  2014-06-01    7412    7374    3208    3985    3023

In [ ]:
# explore the data (gather as much information as you can)
df.tail(20)

In [ ]:
# clean the data

In [7]:
# total sales for the last month
print(sum(df.loc[196:, 'storeA']))
print(sum(df.loc[196:, 'storeB']))
print(sum(df.loc[196:, 'storeC']))
print(sum(df.loc[196:, 'storeD']))
print(sum(df.loc[196:, 'storeE']))

25127
24595
16447
22783
7787

In [8]:
# average sales
print(sum(df.loc[:,'storeA'])/200)
print(sum(df.loc[:,'storeB'])/200)
print(sum(df.loc[:,'storeC'])/200)
print(sum(df.loc[:,'storeD'])/200)
print(sum(df.loc[:,'storeE'])/200)

5865.48
6756.71
4942.105
5431.405
2580.025

In [9]:
# sales on march 13, 2016
df[df.week=='2016-03-13']

          week  storeA  storeB  storeC  storeD  storeE
97  2016-03-13    2054    1390    5112    5513    2536

In [10]:
# worst week for store C
print(min(df.loc[:,'storeC']))
print(df.loc[df['storeC']==927])

927
         week  storeA  storeB  storeC  storeD  storeE
9  2014-07-06    8567    3228     927    3277     168

In [11]:
# total sales during most recent 3 month period
print(sum(df.loc[187:, 'storeA']))
print(sum(df.loc[187:, 'storeB']))
print(sum(df.loc[187:, 'storeC']))
print(sum(df.loc[187:, 'storeD']))
print(sum(df.loc[187:, 'storeE']))

87591
79394
66538
75190
27334

In [ ]:
# Go back to the top and answer the questions